*{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #F3722C;
}

.prgrs {
    position:absolute;
    background: red;
    width:50vw;
    min-height:40vh;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.prgrs .container {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.prgrs .container .prgrsbar {
    background: #85adad;
    width:100%;
    height: 20px;
    margin-bottom:20px;
    border-radius: 12px;
}
.prgrs .prgrsbar .barbg {
    width:0;
    height: 100%;
    background-color: #ECB100;
    border-radius: 12px;
}
.prgrs .prgrsbar .barbg span {
    float:right;
    margin-top:-35px;
    padding: 3px;
    opacity:0;
    animation: span1 1.5s ease .1s forwards;
    z-index: 1;
    position: relative;
    background-color: #ECB100;
    color:white;
}
.prgrs .prgrsbar .barbg span:before {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    left:calc(50% - 4px);
    bottom:-10px;
    z-index:-1;
    background-color: #ECB100;
    transform:translateY(-50%) rotate(45deg);
    animation: span1 1.5s ease .1s forwards;
}

h3 {
    margin-bottom: 10px;
    color: #363536;
}

.prgrs .prgrsbar:nth-of-type(1) .barbg {
    animation: bar1 1.5s ease .1s forwards;
}

.prgrs .prgrsbar:nth-of-type(2) .barbg {
    animation: bar2 1.5s ease .1s forwards;
}
.prgrs .prgrsbar:nth-of-type(3) .barbg {
    animation: bar3 1.5s ease .1s forwards;
}
.prgrs .prgrsbar:nth-of-type(4) .barbg {
    animation: bar4 1.5s ease .1s forwards;
}

@keyframes span1 {
    from { opacity:0;}
    to {opacity:1;}
}

@keyframes bar1 {
    0% {width:0;}
    100% {width:90%;}
}
@keyframes bar2 {
    0% {width:0;}
    100% {width:70%;}
}
@keyframes bar3 {
    0% {width:0;}
    100% {width:50%;}
}
@keyframes bar4 {
    0% {width:0;}
    100% {width:30%;}
}